@import "tailwindcss";

@tailwind base;
@tailwind utilities;

*{
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, blue), rgb(211, 30, 60) ;
}



  